.header
  height: 52px
  position: relative
  display: flex
  align-items: center
  background-color: #fff

  &__logo
    width: 15%
    margin-right: 7%

  &__search-wrapper
    position: relative
    width: 40%
    height: 100%
    &::before
      position: absolute
      display: block
      width: 20px
      height: 20px
      top: 18px
      left: 12px
      content: url("../../assets/images/header/search_icon.svg")

  &__search-input
    width: 100%
    height: 100%
    padding-left: 35px
    border: 2px solid #ff5d4f
    border-radius: 8px
    outline: none
    font-size: 20px
    font-weight: 700
    transition: .2s
    &:focus,
    &:hover,
    &:active
      border: 2px solid #fd2d1b

  &__navs-wrapper
    width: 55%
    display: flex
    justify-content: flex-end
    align-items: center
    & nav
      width: 25%
      font-size: 20px
      font-weight: 700
      text-align: right
      cursor: pointer
      transition: .2s
      &:hover
        color: #000

  &__navs-user
    display: flex
    cursor: pointer
    & nav
      width: 36px
      margin: 0 15px 0 30px
      content: url("../../assets/images/header/user.svg")
    & span
      content: url("../../assets/images/header/arrow.svg")
      transition: .3s
      &[data-state="active"]
        transform: rotate(180deg)
